* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f5f5f5;
}

/* Deshabilitar el scroll de la página de fondo */
body.no-scroll {
  overflow: hidden; /* Evita que la página de fondo se desplace */
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: inherit;
  font-size: inherit;
  padding: 10px 15px;
  border: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  border-radius: 5px;
}

/* Para eliminar los controles en Chrome, Opera, Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para eliminar los controles en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Para eliminar los controles en IE */
input[type="number"]::-ms-expand {
  display: none;
}

header {
  display: flex;
  flex-direction: column;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #96695e;
  padding: 0 40px;
  position: fixed;
  left: 0;
  right: 0;
}

header nav a .logo {
  width: 150px;
}

.wrap-search {
  display: flex;
  align-items: center;
  border: solid 1px white;
  border-radius: 25px;
}

.wrap-search input {
  border: none;
  background: none;
  padding: 0px 20px;
  width: 300px;

  color: white;
}
.wrap-search input:focus-visible {
  outline: none;
}

.wrap-search input::placeholder {
  opacity: 0.5; /* Hacerlo más translúcido */
  color: white;
}

.wrap-search button svg {
  transition: all 0.3s ease;
  color: #333;
}

.wrap-search button svg:hover {
  transform: scale(1.1);
}

.wrap-categories-and-cart {
  display: flex;
  align-items: center;
  gap: 30px;
}
.wrap-categories-and-cart .cart {
  color: inherit;
  transition: all 0.3s ease;
}
.wrap-categories-and-cart .cart:hover {
  transform: scale(1.1);
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

header nav ul li a {
  color: #f5f5f5;
  font-size: 20px;
  font-weight: 100;
  padding: 0 1px 3px 2px;
  border-bottom: none;
  text-decoration: none;
  transition: all 0.3s ease;
}

header nav ul li a:hover {
  border-bottom: solid 1px #f5f5f5;
}

header section img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-top: 150px;
}

.popup {
  position: fixed;
  right: 70px;
  top: 160px;
  background: #f5f5f5cf;
  text-align: center;
  padding: 20px 30px;
  border-radius: 4px;
  color: #0b8452;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  z-index: 1000;
}

.popup.mostrar {
  opacity: 1;
  transform: translateY(0);
  animation: desaparecer 2s forwards;
}

@keyframes desaparecer {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

main {
  padding: 60px 80px;
}

main h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 100px;
  font-weight: 100;
  color: #222;
}
main .wrap-search {
  display: flex;
}

main .main-top {
  display: flex;
  justify-content: space-between;
}

main .container-cards {
  display: flex;
  justify-content: space-between;
  gap: 10px 60px;
  flex-wrap: wrap;
}

.no-results.oculto {
  display: none;
}

.no-results:not(.oculto) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin: 100px auto;
  font-size: 20px;
  border: solid 1px grey;
  border-radius: 6px;
  padding: 80px;
  font-size: 30px;
}

main .no-results p:first-child {
  font-size: 40px;
  font-weight: 400;
}

main div .main-container-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main div .main-container-buttons button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.6s ease;
}

main div .main-container-buttons button:hover {
  transform: scale(1.04);
}

main div .main-container-buttons--colors {
  flex-direction: row;
  align-items: end;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin: 40px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 10px 20px 10px;
}

.card-img {
  width: 216px;
  height: 224px;
  object-fit: cover;
  border-radius: 4px;
}

.card-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.card-detail-price {
  font-weight: bold;
  font-size: 18px;
}

.card-detail-stock {
  font-size: 12px;
}

.card-button {
  border: grey 0.5px solid;
  transition: all 0.3s ease;
}

.card-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #96695e;
  padding: 60px 100px;
}

/* Carrito */

.carrito {
  display: none;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  z-index: 1000;
  height: 100vh;
  padding: 70px;
}

.carrito-wrap-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carrito-wrap-top {
  font-size: 40px;
  font-weight: 100;
}

.carrito-wrap-top h2 {
  font-weight: 100;
}

.carrito-close {
  color: #333;
  background: white;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease;
}

.carrito-close:hover {
  transform: scale(1.1);
}

.carrito-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.carrito-message-empty {
  margin: auto;
  border: solid, 1px, grey;
  padding: 30px 60px;
  font-size: 28px;
  font-weight: 100;
  color: grey;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 6px;
}

.carrito-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.carrito-item-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}

.carrito-item-img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  min-width: 60px;
  min-height: 60px;
  object-fit: cover;
}

.carrito-item-description {
  width: 700px;
  text-transform: lowercase;
}

.carrito-item-description::first-letter {
  text-transform: uppercase;
}

.carrito-quantity-selector {
  display: flex;
  width: 100%;
  gap: 10px;
}
.carrito-quantity-selector button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.carrito-quantity-selector button:active {
  box-shadow: none;
}

.carrito-quantity-selector input {
  border: solid 1px grey;
  border-radius: 6px;
  text-align: center;
  padding: 0 10px;
  width: 78px;
}

.carrito-subtotal {
  font-weight: bold;
}

.carrito-trash-icon {
  cursor: pointer;
}

.carrito-trash-icon svg {
  width: 35px;
  height: 35px;
}
.carrito-trash-icon svg:active {
  height: 30px;
}

.button-checkout {
  align-self: flex-end;
  border: solid 1px grey;
  transition: all 0.3s ease;
}

.button-checkout:hover {
  transform: scale(1.1);
}

.carrito.oculto {
  display: none;
}

.carrito:not(.oculto) {
  display: flex;
}

.thank-you-purchase {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  font-weight: 100;
  font-size: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  padding: 100px;
}

.thank-you-purchase svg {
  width: 300px;
}

.thank-you-purchase button {
  transition: all 0.3s ease;
}

.thank-you-purchase button:hover {
  transform: scale(1.1);
}

.total {
  margin-left: auto;
  font-weight: bold;
  font-size: 28px;
}

.pantalla-finalizar-compra {
  display: none;
  gap: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  z-index: 1001;
  height: 100vh;
  padding: 70px;
  background: #ffffff;
}
.wrap-volver-al-carrito {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.wrap-volver-al-carrito button {
  font-weight: bold;
  font-size: 20px;
  padding: 20px 6px;
}

.pantalla-finalizar-compra__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form div input {
  border: solid 1px grey;
  border-radius: 6px;
  padding: 16px;
}

.form button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100px;
}

.pantalla-finalizar-compra__left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.tarjetas {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.tarjetas button {
  border: solid 1px grey;
}

.pantalla-finalizar-compra__right {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  width: 100%;
}

.pantalla-finalizar-compra__right > div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mi-compra__row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.mi-compra__img {
  min-width: 48px;
  min-height: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 4px;
  display: inline-block;
}

.mi-compra__container-info-producto {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}

.mi-compra__info-producto {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.mi-compra__info-producto-precio {
  white-space: nowrap;
}

.pantalla-finalizar-compra__right-line {
  background-color: grey;
  width: 100%;
  height: 1px;
  display: block;
}

.confirmar-compra {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.confirmar-compra__datos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.confirmar-compra__datos div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.confirmar-compra__total {
  align-self: center;
  background-color: #fafafa;
  padding: 20px 80px;
  font-weight: 600;
}

.confirmar-compra__finalizar-compra,
.boton-volver-al-inicio {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.confirmar-compra__finalizar-compra {
  color: #569a32;
}

.confirmar-compra__finalizar-compra,
.boton-volver-al-inicio {
  transition: all 0.3s ease;
}

.confirmar-compra__finalizar-compra:hover,
.boton-volver-al-inicio:hover {
  transform: scale(1.03);
}
